<header data-am-widget="header" class="am-header am-header-default">
    <div class="am-header-left am-header-nav jumpgo">
        <a><img class="am-header-icon-custom" src="data:image/svg+xml;charset=utf-8,&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 12 20&quot;&gt;&lt;path d=&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill=&quot;%23fff&quot;/&gt;&lt;/svg&gt;" alt=""/></a>
    </div>
    <h1 class="am-header-title">
        我的工作
    </h1>
</header>
<link rel="stylesheet" href="styles/view/article.css" />
<div class="container">
    <div class="secret-mask"></div>
    <!-- 正文页面 -->
    <h4>关于机房监控系统研发立项的批复</h4>
    <p>本次机房监控系统的建设，我们最终实现以下两大管理目标：</p>
    <h5>（一）建设全面的监控管理平台，消除监控死角。</h5>
    <p>信息技术中心的各个系统采用了多个厂家的网络设备，服务器，因此本项目首先要解决的问题是通过建设全面的监控管理平台将目前各个业务系统中的各种设备纳入到监控平台中来。消除管理对象之间的差别，消除数据采集手段的差别，消除管理软件的差别，对各种不同数据来源数据统一处理、统一展现、统一用户登录、统一权限控制。</p>
    <h5>（二）建设开放、具有良好扩展性的IT管理平台。</h5>
    <p>监控管理平台应具有很好的开放性，保证跟相关系统的集成。监控管理平台应具有良好的扩展性，不仅可以满足现阶段本行系统管理的需要，未来，随着本行业务的不断发展，监控功能添加，或管理节点数量增加时，监控管理平台也可以很好满足本行的需求。</p>
    <h5>（三）升级速度快，开发周期短</h5>
    <p>由于网首IT运维服务平台是纯B/S架构的，所以当需要增加一个新功能或是新模块时，无需改动系统底层的架构，所以开发的速度会非常快。这就会使产品新功能、新模块的开发周期变短，升级速度变快。</p>
</div>  