<link rel="stylesheet" href="styles/view/content.css" />
<link rel="stylesheet" href="styles/view/magnific-popup.css" />
<style type="text/css">
.index form {
    margin-bottom: 90px !important;
}

footer {
    position: fixed !important;
    margin-top: 10px;
    width: 100%;
    padding: 1em 0;
    margin-left: -1em;
    background: #fff;
    bottom: 0;
    border-top: 1px solid #e0e0e0;
}
</style>
<header data-am-widget="header" class="am-header am-header-default am-no-layout">
    <div class="am-header-left am-header-nav jumpgo">
        <a><img class="am-header-icon-custom" src="data:image/svg+xml;charset=utf-8,&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 12 20&quot;&gt;&lt;path d=&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill=&quot;%23fff&quot;/&gt;&lt;/svg&gt;" alt=""></a>
    </div>
    <h1 class="am-header-title">
      我的工作

  </h1>
    <div class="am-header-right am-header-nav">
        <a class="am-btn search-btn am-btn-primary js-modal-open">
            <i class="am-icon-search"></i>
        </a>
        <a href="#" class="am-btn">
            <i class="am-icon-close" onclick="MXWebui.closeWindow();"></i>
        </a>
    </div>
</header>
<div class="index mt_70">
    <form>
        <ul>
            <li class="singular">
                <h3>发文处理单</h3>
            </li>
            <li>
                <label for="number">发文字号</label>
                <select id="number">
                    <option value="number" style="display:none" data-theme="none">办综</option>
                </select>
                <i>[2014]号</i>
            </li>
            <li class="singular">
                <label for="department">主办部门</label>
                <input type="text" name="department" id="department" value="信息科技部">
            </li>
            <li class="singular">
                <label for="degree">紧急程度</label>
                <select id="degree">
                    <option value="degree" style="display:none">无</option>
                </select>
            </li>
            <li>
                <label for="level">秘密等级</label>
                <select id="level">
                    <option value="level" style="display:none">无</option>
                </select>
            </li>
            <li class="singular">
                <label for="count">份数</label>
                <input class="subtext" type="text" name="count" id="count" value="1">
            </li>
            <li>
                <label for="title">标题</label>
                <input type="text" name="title" id="title" value="关于机房监控系统研发立项的批复">
            </li>
            <li class="singular">
                <label for="subtitle">附件标题</label>
                <input type="text" name="title" id="title">
            </li>
            <li class="keys">
                <label for="sign">签发意见</label>
                <span class="wrap">
          <textarea name="sign" id ="sign">同意</textarea>
           </br></br></br></br>
           <a data-id="" href="#" class="am-icon-comment">&nbsp;</a>
          <time>12-27 11:07</time>
        </span>
            </li>
            <li class="keys">
                <label for="exam">审核意见</label>
                <span class="wrap">
          <textarea name="exam" id ="exam">同意：请李总审阅</textarea>
          </br></br></br></br>
          <a data-id="" href="#" class="am-icon-comment">&nbsp;</a>
          <time>12-29 08:52</time>
        </span>
            </li>
            <li class="singular keys">
                <label for="leader">办公室领导审核</label>
                <span class="wrap">
          <textarea name="leader" id ="leader">同意</textarea>
          </br></br></br></br>
          <a data-id="" href="#" class="am-icon-comment">&nbsp;</a>
          <time>12-29 11:11</time>
        </span>
            </li>
            <li>
                <label for="office">办公室核稿</label>
                <span class="wrap">
          <textarea name="office" id="office"></textarea>
          </br></br></br></br>
          <i id="officename" style="display:none">总行核稿员</i>
          <time id="time" style="display:none"></time>
        </span>
            </li>
        </ul>
        <footer>
            <div class="foot">
                <a href="#popup-page" class="btn-popup">填写意见</a>
                <!-- 弹窗页面 -->
                <div class="mx-popup mfp-hide popup" id="popup-page">
                    <form>
                        <label for="audit">办公室核稿</label>
                        <textarea name="audit" id="audit">同意</textarea>
                        <a href="#" class="mfp-close">取消</a>
                        <a href="#" id="yes" class="mfp-close">确定</a>
                        <div style="clear:both;"></div>
                    </form>
                </div>
                <a href="javascript:" id="commit">提交</a>
                <a href="#article">查看正文</a>
                <a href="#file">查看附件</a>
            </div>
        </footer>
    </form>
</div>
<script>
var onDeviceReady = function onDeviceReady() {
    var network_id = "";
    var keys = [];
    var values = [];
    $.getJSON("flavor.json", function(json_data) {
        var ocuId = json_data.ocuId;
        var ocuSecret = json_data.ocuSecret;
        var appName = json_data.appName;
        var accessToken = json_data.appAccessToken;
        MXCommon.getServerUrl(function(serverUrl) {
            $.ajax({
                url: serverUrl + "/api/v1/users?limit=5",
                type: "get",
                headers: {
                    "Authorization": "Bearer " + accessToken
                },
                success: function(data) {
                    var items = data.items;
                    for (var i = 0; i < $(".keys").length; i++) {
                        $(".keys:eq(" + i + ")").find("a").attr("data-id", items[i].login_name).html(items[i].name);
                    }
                }
            })
        })

        $("#commit").off("click.commit").on("click.commit", function() {
            var current_user_login_name = "";
            var network_id = "";
            MXCommon.getCurrentUser(function(d) {
                current_user_login_name = d.login_name;
                MXContacts.selectUsers(function(a) {
                    var _login_names = new Array();
                    for (var i = 0; i < a.data.length; i++) {
                        _login_names.push(a.data[i].login_name);
                    }
                    _login_names.push(current_user_login_name);

                    $.sendOcuMessage(accessToken, ocuId, ocuSecret, _login_names, [{
                        title: $("#title").val(),
                        description: "当前环节：办公室核稿<br>提交人：马青冈<br>提交时间：2015-1-25",
                        pic_url: "",
                        url: "launchApp://" + appName,
                        app_url: "launchApp://" + appName,
                        action_label: "办理"
                    }], function() {
                        alert("提交成功");
                        window.location.href = "#index"
                    })

                }, false);
            });
        });
        $(".keys a").off("click.chat").on("click.chat",function(e) {
            e.preventDefault();
            var login_name = $(this).attr("data-id");
            var arr = new Array(login_name);
            MXChat.chat(arr);
        });
    });
};
document.addEventListener("deviceready", onDeviceReady, false);
$(function() {
    //初始化弹窗
    $('.btn-popup').magnificPopup({
        type: 'inline',
        closeBtnInside: true,
        fixedContentPos: false,
        fixedBgPos: true,
        overflowY: 'auto',
        closeBtnInside: true,
        preloader: false,
        midClick: true,
        removalDelay: 300,
        mainClass: 'my-mfp-slide-bottom'
    });

    $("a#yes").click(function() {
        $("textarea#office").val($("textarea#audit").val());
        $("#time").css({
            'display': 'block'
        });
        $("#officename").css({
            'display': 'block'
        });
    });
    //显示时间
    var d = new Date();
    var day = d.getDate();
    var month = d.getMonth() + 1;
    var hour = d.getHours();
    var minute = d.getMinutes();
    if (minute < 10) {
        minute = "0" + minute;
    }
    document.getElementById("time").innerHTML = month + "-" + day + " " + hour + ":" + minute;
});
</script>