<header data-am-widget="header" class="am-header am-header-default">
    <div class="am-header-left am-header-nav jumpgo">
        <a><img class="am-header-icon-custom" src="data:image/svg+xml;charset=utf-8,&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 12 20&quot;&gt;&lt;path d=&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill=&quot;%23fff&quot;/&gt;&lt;/svg&gt;" alt=""/></a>
    </div>
    <h1 class="am-header-title">
        审批
    </h1>
</header>
<link rel="stylesheet" href="styles/weui.min.css" />
<link rel="stylesheet" href="styles/view/file.css" />
<style>
    .weui-mg-t{
        margin-top: 5px;
    }
</style>
<!-- <div class="file" style="margin-top:50px">
    <ul>
        <li>
            <img src="images/doc.png">
            <span>
                <i>名称：关于二代支付系统网络延时环境优化调整</i>
                <i>上传人：于敏</i>
                <time>时间：12-09 12:05</time>
            </span>
            <a href="#">下载</a>
        </li>
        <li>
            <img src="images/pdf.png">
            <span>
                <i>名称：关于召开2015年宣传思想专业会议的通知</i>
                <i>上传人：许文</i>
                <time>时间：09-13 08:52</time>
            </span>
            <a href="#">下载</a>
        </li>
        <li>
            <img src="images/text.png">
            <span>
                <i>名称：关于内部整体问题</i>
                <i>上传人：李楠</i>
                <time>时间：08-04 13:14</time>
            </span>
            <a href="#">下载</a>
        </li>
        <li>
            <img src="images/text.png">
            <span>
                <i>名称：综合办公平台推广应用工作信息副刊信息</i>
                <i>上传人：焦俊</i>
                <time>时间：01-23 16:30</time>
            </span>
            <a href="#">下载</a>
        </li>
        <li>
            <img src="images/file.png">
            <span>
                <i>名称：关于为软件维护公司方人员配置更衣柜的函</i>
                <i>上传人：赵瑾</i>
                <time>时间：01-27 18：30</time>
            </span>
            <a href="#">下载</a>
        </li>
    </ul>
</div> -->

<div class="weui-panel__bd">
<div style="margin-top: 60px;text-align: center;">
    <!-- <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">点击</a>
    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">未点击</a> -->
</div>
   <a href="#test">
    <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd" >
            <img src="images/doc.png">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">名称：关于二代支付系统网络延时环境优化调整</h4>
            <p class="weui-media-box__desc weui-mg-t">上传人：于敏</p>
             <!-- <time class="weui-media-box__desc">时间：12-09 12:05</time> -->
        </div>
        <!-- <a href="#" class="weui-btn weui-btn_mini weui-btn_primary">下载</a> -->
        <span>9-30</span>
    </div>
   </a>
    <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd" >
            <img src="images/doc.png">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">名称：关于召开2015年宣传思想专业会议的通知</h4>
            <p class="weui-media-box__desc weui-mg-t">上传人：许文</p>
             <!-- <time class="weui-media-box__desc">时间：09-13 08:52</time> -->
        </div>
        <!-- <a href="#" class="weui-btn weui-btn_mini weui-btn_primary">下载</a> -->
        <span>9-30</span>
    </div>
    <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd" >
            <img src="images/doc.png">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">名称：关于召开2015年宣传思想专业会议的通知</h4>
            <p class="weui-media-box__desc weui-mg-t">上传人：许文</p>
             <!-- <time class="weui-media-box__desc">时间：09-13 08:52</time> -->
        </div>
        <!-- <a href="#" class="weui-btn weui-btn_mini weui-btn_primary">下载</a> -->
        <span>9-30</span>
    </div>
    <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd" >
            <img src="images/doc.png">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">名称：关于召</h4>
            <p class="weui-media-box__desc weui-mg-t">上传人：许文</p>
             <!-- <time class="weui-media-box__desc">时间：09-13 08:52</time> -->
        </div>
        <!-- <a href="#" class="weui-btn weui-btn_mini weui-btn_primary">下载</a> -->
        <span>9-30</span>
    </div>
    <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd" >
            <img src="images/doc.png">
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">名称：关于召开2015年宣传思想专业会议的通知</h4>
            <p class="weui-media-box__desc weui-mg-t">上传人：许文</p>
             <!-- <time class="weui-media-box__desc">时间：09-13 08:52</time> -->
        </div>
        <!-- <a href="#" class="weui-btn weui-btn_mini weui-btn_primary">下载</a> -->
        <span>9-30</span>
    </div>
</div>  