<header data-am-widget="header" class="am-header am-header-default">
  <div class="am-header-left am-header-nav">
      <a class="am-btn am-btn-primary doc-oc-js" data-rel="open">
        <i class="am-header-icon am-icon-bars"></i>
      </a>
  </div>
  <h1 class="am-header-title" id="am-header-title">
      我的工作
  </h1>
  <div class="am-header-right am-header-nav">
      <a class="am-btn search-btn am-btn-primary js-modal-open">
        <i class="am-icon-search"></i>
      </a>
      <a href="#" class="am-btn">
        <i class="am-icon-close" onclick="MXWebui.closeWindow();"></i>
      </a>
  </div>
</header>
          
                <div class="mx-media-box mx-media-box_appmsg mx-mg-t60 mx-an" id="mx-an">
                    <div class="mx-media-box__hd" >
                        <img src="images/1.jpg">
                    </div>
                    <div class="mx-media-box__bd">
                        <h4 class="mx-media-box__title mx-name">王震</h4>
                        <p class="mx-media-box__desc mx-mg-t">人生就像一场旅行</p>
                         
                    </div>
                   
                    <span class="mx-media-box__title mx-time mx-time-f">2017-02-11</span>
                </div>
               <div class="mx-media-box mx-media-box_appmsg">
                    <div class="mx-media-box__hd" >
                        <img src="images/2.jpg">
                    </div>
                    <div class="mx-media-box__bd">
                        <h4 class="mx-media-box__title mx-name">冯宇鹏</h4>
                        <span class="mx-media-box__desc mx-mg-t">永不放弃自己</span>
                         
                    </div>
                    
                    <span class="mx-media-box__title mx-time mx-time-f">2017-01-14</span>
                </div>
                <div class="mx-media-box mx-media-box_appmsg">
                    <div class="mx-media-box__hd" >
                        <img src="images/3.jpg">
                    </div>
                    <div class="mx-media-box__bd">
                        <h4 class="mx-media-box__title mx-name">李明超</h4>
                        <p class="mx-media-box__desc mx-mg-t">勇敢面对任何挑战</p>
                         
                    </div>
                    
                    <p class="mx-media-box__title mx-time mx-time-f">2016-12-14</p>
                </div>
                <div class="mx-media-box mx-media-box_appmsg">
                      <div class="mx-media-box__hd" >
                          <img src="images/4.jpg">
                      </div>
                      <div class="mx-media-box__bd">
                          <h4 class="mx-media-box__title mx-name">关艾艾</h4>
                          <p class="mx-media-box__desc mx-mg-t">喜欢跑步，摄影</p>
                           
                      </div>
                      
                      <span class="mx-media-box__title mx-time mx-time-f">2016-12-01</span>
                  </div>
                  <div class="mx-media-box mx-media-box_appmsg">
                      <div class="mx-media-box__hd" >
                          <img src="images/5.jpg">
                      </div>
                      <div class="mx-media-box__bd">
                          <h4 class="mx-media-box__title mx-name">李秀丽</h4>
                          <p class="mx-media-box__desc mx-mg-t">对自己好一点</p>
                           <!-- <time class="mx-media-box__desc">时间：09-13 08:52</time> -->
                      </div>
                      <!-- <a href="#" class="mx-btn mx-btn_mini mx-btn_primary">下载</a> -->
                      <span class="mx-media-box__title mx-time mx-time-f">2016-11-11</span>
                  </div>         
<script>
    $('.mx-media-box').click(function(){
          window.location.href = '#test';
      })

       (function() {
        var agent = navigator.userAgent;
        if (/iphone|ipad|ipod/i.test(agent)) {
            $('body').addClass('ios'); 
            $('.mx-container').css('paddingBottom','.7rem');
        }else{
            $('#mx-an').removeClass('mx-mg-t60');
            $('.mx-an').addClass('mx-mg-t46');
            $('.slider-container_box').css('marginTop','4.9rem');
        }
      }());
</script>