<header data-am-widget="header" class="am-header am-header-default">
  <div class="am-header-left am-header-nav">
      <a class="am-btn am-btn-primary doc-oc-js" data-rel="open">
        <i class="am-header-icon am-icon-bars"></i>
      </a>
  </div>
  <h1 class="am-header-title">
      我的工作
  </h1>
  <div class="am-header-right am-header-nav">
      <a class="am-btn search-btn am-btn-primary js-modal-open">
        <i class="am-icon-search"></i>
      </a>
      <a href="#" class="am-btn">
        <i class="am-icon-close" onclick="MXWebui.closeWindow();"></i>
      </a>
  </div>
</header>
<div class="am-list-news-bd doc-content widget-list list mt_50">
    <ul class="am-list m-widget-list">
        <li class="am-g am-list-item-desce" pageUrl="content.html">
            <a href="#content" class="am-list-item-hd p_1_rem"> 
                <i class="am-icon-building"></i>
                短信平台开发总结报告
                <div class="am-list-item-text p_1_rem">
                <ul>
                    <li>发件人：李刚11</li>
                    <li>当前环节：主办部门内部审核</li>
                    <li>来文日期：09-12 15:46</li>
                </ul>
                </div>
                <i class="am-icon-chevron-right nav_list_check"></i>
            </a>
        </li>
        <li class="am-g am-list-item-desce" pageUrl="content.html">
            <a href="#content" class="am-list-item-hd p_1_rem"> 
                <i class="am-icon-building"></i>
                短信平台开发总结报告
                <div class="am-list-item-text p_1_rem">
                <ul>
                    <li>发件人：李刚11</li>
                    <li>当前环节：主办部门内部审核</li>
                    <li>来文日期：09-12 15:46</li>
                </ul>
                </div>
                <i class="am-icon-chevron-right nav_list_check"></i>
            </a>
        </li>
        <li class="am-g am-list-item-desce">
            <a  href="#content" class="am-list-item-hd p_1_rem"> 
                <i class="am-icon-building"></i>
                短信平台开发总结报告
                <div class="am-list-item-text p_1_rem">
                <ul>
                    <li>发件人：李刚11</li>
                    <li>当前环节：主办部门内部审核</li>
                    <li>来文日期：09-12 15:46</li>
                </ul>
                </div>
                <i class="am-icon-chevron-right nav_list_check"></i>
            </a>
        </li>
    </ul>
</div>
