<header data-am-widget="header" class="am-header am-header-default">
    <div class="am-header-left am-header-nav jumpgo">
        <a><img class="am-header-icon-custom" src="data:image/svg+xml;charset=utf-8,&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 12 20&quot;&gt;&lt;path d=&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill=&quot;%23fff&quot;/&gt;&lt;/svg&gt;" alt=""/></a>
    </div>
    <h1 class="am-header-title">
        审批
    </h1>
</header>
<link rel="stylesheet" href="styles/mx.min.css" />
<style>
	.mx-body{
		margin-top: .7em;
		padding: 0 0 12px;
	}
	
	.mx-cells__title{
		margin-bottom: 0em;
		margin-top: .3em;
	}
	.mx-sp{
		color: #333;
	}
	.mx-ft{
		background-color: #f8f8f8;
		padding: 15px;
	}
	.mx-cells{
		margin-top: 0;
	}
	.mx-cell__ft{
		font-size: 12px;
	}
	.mx-br-t{
		border-top: none;
	}
	.mx-mr-t{
		margin-top: 10px;
	}
	.mx-font-14{
		font-size: 16px;
		color: #1a85ff;
	}
	.mx-col{
		color: #333;
	}
	.mx-btn_mini{
		padding: 3px 30px;

	}
	.mx-btn_default{
		border-bottom: 1px solid #d9d9d9;
	}
	.mx-text-c{
		text-align: center;
	}
</style>
<div class="mx-panel__bd" style="margin-top: 60px;">
	<div class="mx-media-box mx-media-box_appmsg">
	        <div class="mx-media-box__hd" >
	            <img src="images/doc.png">
	        </div>
	        <div class="mx-media-box__bd">
	            <h4 class="mx-media-box__title">关于召</h4>
	            <p class="mx-media-box__desc" style="margin-top: 5px;">开发部</p>
	             <!-- <time class="mx-media-box__desc">时间：09-13 08:52</time> -->
	        </div>
	        <button class="mx-btn mx-btn_mini mx-btn_plain-disabled">待审批</button>
	        <!-- <a href="#" class="mx-btn mx-btn_mini mx-btn_primary">下载</a> -->
	</div>
</div>
<div class="mx-body">
	<p class="mx-cells__title">请假类型：<span class="mx-sp">年假</span></p>
	<p class="mx-cells__title">开始时间: <span class="mx-sp">2015-8-11 13:13</span></p>
	<p class="mx-cells__title">结束时间: <span class="mx-sp">2015-8-26 14:10</span></p>
	<p class="mx-cells__title">请假天数: <span class="mx-sp">15天</span></p>
	<p class="mx-cells__title">请假事由: <span class="mx-sp">年假</span></p>
</div>
<div class="mx-ft">
	<div class="mx-cells mx-br-t">
            <div class="mx-cell">
                <div class="mx-cell__bd">
                    <p class="mx-font-14">关于召</p>
                </div>
                <div class="mx-cell__ft">2015-8-11 13:13</div>
            </div>
        </div>
        <div class="mx-cells">
            <div class="mx-cell">
                <div class="mx-cell__bd">
                    <p class="mx-font-14 mx-col">发起请假申请</p>
                </div>
            </div>
        </div>
		<div class="mx-cells mx-br-t mx-mr-t">
            <div class="mx-cell">
                <div class="mx-cell__bd">
                    <p class="mx-font-14">刘磊 <span class="mx-cell__ft">副总裁</span></p>
                </div>
            </div>
        </div>
        <div class="mx-cells">
            <div class="mx-cell">
                <div class="mx-cell__bd">
                    <p class="mx-font-14 mx-col">待审批</p>
                </div>
            </div>
        </div>
        <div class="mx-cells mx-br-t mx-mr-t">
            <div class="mx-cell">
                <div class="mx-cell__bd">
                    <p class="mx-font-14">刘磊 <span class="mx-cell__ft">副总裁</span></p>
                </div>
            </div>
        </div>
        <div class="mx-cells">
            <div class="mx-cell">
                <div class="mx-cell__bd">
                    <p class="mx-font-14 mx-col">待审批</p>
                </div>
            </div>
        </div>
        <div class="mx-text-c">
        	  <a href="#warp" class="mx-btn mx-btn_primary mx-btn_mini">转发</a>
	          <a href="#warp" class="mx-btn mx-btn_default mx-btn_mini">转发</a>
	          <a href="#warp" class="mx-btn mx-btn_default mx-btn_mini">转发</a>
        </div>
</div>