<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Badge</h1>
        <p class="page__desc">徽章</p>
    </div>
    <div class="page__bd">
        <div class="mx-cells__title">新消息提示跟摘要信息后，统一在列表右侧</div>
        <div class="mx-cells">
            <div class="mx-cell mx-cell_access">
                <div class="mx-cell__bd">单行列表</div>
                <div class="mx-cell__ft" style="font-size: 0">
                    <span style="vertical-align:middle; font-size: 17px;">详细信息</span>
                    <span class="mx-badge mx-badge_dot" style="margin-left: 5px;margin-right: 5px;"></span>
                </div>
            </div>
        </div>

        <div class="mx-cells__title">未读数红点跟在主题信息后，统一在列表左侧</div>
        <div class="mx-cells">
            <div class="mx-cell">
                <div class="mx-cell__hd" style="position: relative;margin-right: 10px;">
                    <img src="images/pic_160.png" style="width: 50px;display: block"/>
                    <span class="mx-badge" style="position: absolute;top: -.4em;right: -.4em;">8</span>
                </div>
                <div class="mx-cell__bd">
                    <p>联系人名称</p>
                    <p style="font-size: 13px;color: #888888;">摘要信息</p>
                </div>
            </div>
            <div class="mx-cell mx-cell_access">
                <div class="mx-cell__bd">
                    <span style="vertical-align: middle">单行列表</span>
                    <span class="mx-badge" style="margin-left: 5px;">8</span>
                </div>
                <div class="mx-cell__ft"></div>
            </div>
            <div class="mx-cell mx-cell_access">
                <div class="mx-cell__bd">
                    <span style="vertical-align: middle">单行列表</span>
                    <span class="mx-badge" style="margin-left: 5px;">8</span>
                </div>
                <div class="mx-cell__ft">详细信息</div>
            </div>
            <div class="mx-cell mx-cell_access">
                <div class="mx-cell__bd">
                    <span style="vertical-align: middle">单行列表</span>
                    <span class="mx-badge" style="margin-left: 5px;">New</span>
                </div>
                <div class="mx-cell__ft"></div>
            </div>
        </div>
    </div>
    <div class="mx-parent">
        <button class="mx-copy">copy</button>
    </div>
    <pre class="pre">
         &lt;div class="page__bd"&gt;
            &lt;div class="mx-cells__title"&gt;新消息提示跟摘要信息后，统一在列表右侧&lt;/div&gt;
            &lt;div class="mx-cells"&gt;
                &lt;div class="mx-cell mx-cell_access"&gt;
                    &lt;div class="mx-cell__bd"&gt;单行列表&lt;/div&gt;
                    &lt;div class="mx-cell__ft" style="font-size: 0"&gt;
                        &lt;span style="vertical-align:middle; font-size: 17px;"&gt;详细信息&lt;/span&gt;
                        &lt;span class="mx-badge mx-badge_dot" style="margin-left: 5px;margin-right: 5px;"&gt;&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;

            &lt;div class="mx-cells__title"&gt;未读数红点跟在主题信息后，统一在列表左侧&lt;/div&gt;
            &lt;div class="mx-cells"&gt;
                &lt;div class="mx-cell"&gt;
                    &lt;div class="mx-cell__hd" style="position: relative;margin-right: 10px;"&gt;
                        &lt;img src="images/pic_160.png" style="width: 50px;display: block"/&gt;
                        &lt;span class="mx-badge" style="position: absolute;top: -.4em;right: -.4em;"&gt;8&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="mx-cell__bd"&gt;
                        &lt;p&gt;联系人名称&lt;/p&gt;
                        &lt;p style="font-size: 13px;color: #888888;"&gt;摘要信息&lt;/p&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="mx-cell mx-cell_access"&gt;
                    &lt;div class="mx-cell__bd"&gt;
                        &lt;span style="vertical-align: middle"&gt;单行列表&lt;/span&gt;
                        &lt;span class="mx-badge" style="margin-left: 5px;"&gt;8&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="mx-cell__ft"&gt;&lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="mx-cell mx-cell_access"&gt;
                    &lt;div class="mx-cell__bd"&gt;
                        &lt;span style="vertical-align: middle"&gt;单行列表&lt;/span&gt;
                        &lt;span class="mx-badge" style="margin-left: 5px;"&gt;8&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="mx-cell__ft"&gt;详细信息&lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="mx-cell mx-cell_access"&gt;
                    &lt;div class="mx-cell__bd"&gt;
                        &lt;span style="vertical-align: middle"&gt;单行列表&lt;/span&gt;
                        &lt;span class="mx-badge" style="margin-left: 5px;"&gt;New&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="mx-cell__ft"&gt;&lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    </pre>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>