<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Button</h1>
        <p class="page__desc">按钮</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <a href="javascript:;" class="mx-btn mx-btn_primary">页面主操作 Normal</a>
        <div class="mx-parent">
            <button class="mx-copy">copy</button>
        </div>
        <pre id="inputText">         &lt;a href="javascript:;" class="mx-btn mx-btn_primary"&gt;页面主操作 Normal<code>&lt;/a&gt;</code></pre>
		<a href="javascript:;" class="mx-btn mx-btn_primary mx-btn_loading"><i class="mx-loading"></i>页面主操作 Loading</a>
        <div class="mx-parent">
            <button class="mx-copy">copy</button>
        </div>
        <pre>         &lt;a href="javascript:;" class="mx-btn mx-btn_primary"&gt;&lt;i class="mx-loading"&gt;&lt;/i&gt;页面主操作 Loading<code>&lt;/a&gt;</code></pre>
        <a href="javascript:;" class="mx-btn mx-btn_disabled mx-btn_primary">页面主操作 Disabled</a>
        <div class="mx-parent">
            <button class="mx-copy">copy</button>
        </div>
        <pre>         &lt;a href="javascript:;" class="mx-btn mx-btn_disabled mx-btn_primary"&gt;页面主操作 Disabled<code>&lt;/a&gt;</code></pre>
        <a href="javascript:;" class="mx-btn mx-btn_default">页面次要操作 Normal</a>
        <div class="mx-parent">
            <button class="mx-copy">copy</button>
        </div>
        <pre>         &lt;a href="javascript:;" class="mx-btn mx-btn_default"&gt;页面次要操作 Normal<code>&lt;/a&gt;</code></pre>
		<a href="javascript:;" class="mx-btn mx-btn_default mx-btn_loading"><i class="mx-loading"></i>页面次操作 Loading</a>
        <div class="mx-parent">
            <button class="mx-copy">copy</button>
        </div>
         <pre>         &lt;a href="javascript:;" class="mx-btn mx-btn_default mx-btn_loading"&gt;&lt;i class="mx-loading"&gt;&lt;/i&gt;页面次操作 Loading<code>&lt;/a&gt;</code></pre>
        <a href="javascript:;" class="mx-btn mx-btn_disabled mx-btn_default">页面次要操作 Disabled</a>
        <div class="mx-parent">
            <button class="mx-copy">copy</button>
        </div>
        <pre>         &lt;a href="javascript:;" class="mx-btn mx-btn_disabled mx-btn_default"&gt;页面次要操作 Disabled<code>&lt;/a&gt;</code></pre>
        <a href="javascript:;" class="mx-btn mx-btn_warn">警告类操作 Normal</a>
        <div class="mx-parent">
            <button class="mx-copy">copy</button>
        </div>
       <pre>         &lt;a href="javascript:;" class="mx-btn mx-btn_warn"&gt;警告类操作 Normal<code>&lt;/a&gt;</code></pre>
		<a href="javascript:;" class="mx-btn mx-btn_warn mx-btn_loading"><i class="mx-loading"></i>警告类操作 Loading</a>
        <div class="mx-parent">
            <button class="mx-copy">copy</button>
        </div>
        <pre>         &lt;a href="javascript:;" class="mx-btn mx-btn_warn mx-btn_loading"&gt;&lt;i class="mx-loading"&gt;&lt;/i&gt;警告类操作 Loading<code>&lt;/a&gt;</code></pre>
        <a href="javascript:;" class="mx-btn mx-btn_disabled mx-btn_warn">警告类操作 Disabled</a>
        <div class="mx-parent">
            <button class="mx-copy">copy</button>
        </div>
        <pre>         &lt;a href="javascript:;" class="mx-btn mx-btn_disabled mx-btn_warn"&gt;警告类操作 Disabled<code>&lt;/a&gt;</code></pre>
        <div class="button-sp-area">
            <a href="javascript:;" class="mx-btn mx-btn_plain-default">按钮</a>
            <div class="mx-parent">
                <button class="mx-copy">copy</button>
            </div>
            <pre>     &lt;a href="javascript:;" class="mx-btn mx-btn_plain-default"&gt;按钮<code>&lt;/a&gt;</code></pre>
            <a href="javascript:;" class="mx-btn mx-btn_plain-default mx-btn_plain-disabled">按钮</a>
             <div class="mx-parent">
                <button class="mx-copy">copy</button>
            </div>
             <pre>     &lt;a href="javascript:;" class="mx-btn mx-btn_plain-default mx-btn_plain-disabled"&gt;按钮<code>&lt;/a&gt;</code></pre>
            <a href="javascript:;" class="mx-btn mx-btn_plain-primary">按钮</a>
            <div class="mx-parent">
                <button class="mx-copy">copy</button>
            </div>
             <pre>     &lt;a href="javascript:;" class="mx-btn mx-btn_plain-primary"&gt;按钮<code>&lt;/a&gt;</code></pre>
            <a href="javascript:;" class="mx-btn mx-btn_plain-primary mx-btn_plain-disabled">按钮</a>
            <div class="mx-parent">
                <button class="mx-copy">copy</button>
            </div>
            <pre>     &lt;a href="javascript:;" class="mx-btn mx-btn_plain-primary mx-btn_plain-disabled"&gt;按钮<code>&lt;/a&gt;</code></pre>
            <a href="javascript:;" class="mx-btn mx-btn_mini mx-btn_primary">按钮</a>
            <div class="mx-parent">
                <button class="mx-copy">copy</button>
            </div>
             <pre>     &lt;a href="javascript:;" class="mx-btn mx-btn_mini mx-btn_primary"&gt;按钮<code>&lt;/a&gt;</code></pre>
            <a href="javascript:;" class="mx-btn mx-btn_mini mx-btn_default">按钮</a>
            <div class="mx-parent">
                <button class="mx-copy">copy</button>
            </div>
            <pre>     &lt;a href="javascript:;" class="mx-btn mx-btn_mini mx-btn_default"&gt;按钮<code>&lt;/a&gt;</code></pre>
            <a href="javascript:;" class="mx-btn mx-btn_mini mx-btn_warn">按钮</a>
             <div class="mx-parent">
                <button class="mx-copy">copy</button>
            </div>
            <pre>     &lt;a href="javascript:;" class="mx-btn mx-btn_mini mx-btn_warn"&gt;按钮<code>&lt;/a&gt;</code></pre>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>
