<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Flex</h1>
        <p class="page__desc">Flex布局</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="mx-flex">
            <div class="mx-flex__item"><div class="placeholder">mx</div></div>
        </div>
        <div class="mx-parent">
                <button class="mx-copy">copy</button>
        </div>
        <pre>
            &lt;div class="mx-flex"&gt;
                &lt;div class="mx-flex__item"&gt;&lt;div class="placeholder"&gt;mx&lt;/div&gt;&lt;/div&gt;
            &lt;/div&gt;
        </pre>
        <div class="mx-flex">
            <div class="mx-flex__item"><div class="placeholder">mx</div></div>
            <div class="mx-flex__item"><div class="placeholder">mx</div></div>
        </div>
        <div class="mx-parent">
                <button class="mx-copy">copy</button>
        </div>
        <pre>
            &lt;div class="mx-flex"&gt;
                &lt;div class="mx-flex__item"&gt;&lt;div class="placeholder"&gt;mx&lt;/div&gt;&lt;/div&gt;
                &lt;div class="mx-flex__item"&gt;&lt;div class="placeholder"&gt;mx&lt;/div&gt;&lt;/div&gt;
            &lt;/div&gt;
        </pre>
        <div class="mx-flex">
            <div class="mx-flex__item"><div class="placeholder">mx</div></div>
            <div class="mx-flex__item"><div class="placeholder">mx</div></div>
            <div class="mx-flex__item"><div class="placeholder">mx</div></div>
        </div>
        <div class="mx-parent">
                <button class="mx-copy">copy</button>
        </div>
        <pre>
            &lt;div class="mx-flex"&gt;
                &lt;div class="mx-flex__item"&gt;&lt;div class="placeholder"&gt;mx&lt;/div&gt;&lt;/div&gt;
                &lt;div class="mx-flex__item"&gt;&lt;div class="placeholder"&gt;mx&lt;/div&gt;&lt;/div&gt;
                &lt;div class="mx-flex__item"&gt;&lt;div class="placeholder"&gt;mx&lt;/div&gt;&lt;/div&gt;
            &lt;/div&gt;
        </pre>
        <div class="mx-flex">
            <div class="mx-flex__item"><div class="placeholder">mx</div></div>
            <div class="mx-flex__item"><div class="placeholder">mx</div></div>
            <div class="mx-flex__item"><div class="placeholder">mx</div></div>
            <div class="mx-flex__item"><div class="placeholder">mx</div></div>
        </div>
        <div class="mx-parent">
                <button class="mx-copy">copy</button>
        </div>
        <pre>
            &lt;div class="mx-flex"&gt;
                &lt;div class="mx-flex__item"&gt;&lt;div class="placeholder"&gt;mx&lt;/div&gt;&lt;/div&gt;
                &lt;div class="mx-flex__item"&gt;&lt;div class="placeholder"&gt;mx&lt;/div&gt;&lt;/div&gt;
                &lt;div class="mx-flex__item"&gt;&lt;div class="placeholder"&gt;mx&lt;/div&gt;&lt;/div&gt;
                &lt;div class="mx-flex__item"&gt;&lt;div class="placeholder"&gt;mx&lt;/div&gt;&lt;/div&gt;
            &lt;/div&gt;
        </pre>
        <div class="mx-flex">
            <div><div class="placeholder">mx</div></div>
            <div class="mx-flex__item"><div class="placeholder">mx</div></div>
            <div><div class="placeholder">mx</div></div>
        </div>
        <div class="mx-parent">
                <button class="mx-copy">copy</button>
        </div>
        <pre>
            &lt;div class="mx-flex"&gt;
                &lt;div&gt;&lt;div class="placeholder"&gt;mx&lt;/div&gt;&lt;/div&gt;
                &lt;div class="mx-flex__item"&gt;&lt;div class="placeholder"&gt;mx&lt;/div&gt;&lt;/div&gt;
                &lt;div&gt;&lt;div class="placeholder"&gt;mx&lt;/div&gt;&lt;/div&gt;
            &lt;/div&gt;
        </pre>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>