<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Gallery</h1>
        <p class="page__desc">画廊，可实现上传图片的展示或幻灯片播放</p>
    </div>
    <div class="mx-gallery" style="display: block">
        <span class="mx-gallery__img" style="background-image: url(./images/pic_article.png);"></span>
        <div class="mx-gallery__opr" >
            <a href="javascript:" class="mx-gallery__del">
                <i class="mx-icon-delete mx-icon_gallery-delete"></i>
            </a>
        </div>
    </div>
        <!-- <pre style="position: absolute; bottom: 0;z-index: 1000;">
            &lt;div class="mx-gallery" style="display: block"&gt;
                &lt;span class="mx-gallery__img" style="background-image: url(./images/pic_article.png);"&gt;&lt;/span&gt;
                &lt;div class="mx-gallery__opr"&gt;
                    &lt;a href="javascript:" class="mx-gallery__del"&gt;
                        &lt;i class="mx-icon-delete mx-icon_gallery-delete"&gt;&lt;/i&gt;
                    &lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        </pre> -->
</div>