<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Grid</h1>
        <p class="page__desc">九宫格</p>
    </div>
    <div class="mx-grids">
        <a href="javascript:;" class="mx-grid">
            <div class="mx-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="mx-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="mx-grid">
            <div class="mx-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="mx-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="mx-grid">
            <div class="mx-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="mx-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="mx-grid">
            <div class="mx-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="mx-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="mx-grid">
            <div class="mx-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="mx-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="mx-grid">
            <div class="mx-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="mx-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="mx-grid">
            <div class="mx-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="mx-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="mx-grid">
            <div class="mx-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="mx-grid__label">Grid</p>
        </a>
        <a href="javascript:;" class="mx-grid">
            <div class="mx-grid__icon">
                <img src="./images/icon_tabbar.png" alt="">
            </div>
            <p class="mx-grid__label">Grid</p>
        </a>
    </div>
    <div class="mx-parent">
                <button class="mx-copy">copy</button>
    </div>
    <pre class="pre">
         &lt;div class="mx-grids"&gt;
            &lt;a href="javascript:;" class="mx-grid"&gt;
                &lt;div class="mx-grid__icon"&gt;
                    &lt;img src="./images/icon_tabbar.png" alt=""&gt;
                &lt;/div&gt;
                &lt;p class="mx-grid__label"&gt;Grid&lt;/p&gt;
            &lt;/a&gt;
            &lt;a href="javascript:;" class="mx-grid"&gt;
                &lt;div class="mx-grid__icon"&gt;
                    &lt;img src="./images/icon_tabbar.png" alt=""&gt;
                &lt;/div&gt;
                &lt;p class="mx-grid__label"&gt;Grid&lt;/p&gt;
            &lt;/a&gt;
            &lt;a href="javascript:;" class="mx-grid"&gt;
                &lt;div class="mx-grid__icon"&gt;
                    &lt;img src="./images/icon_tabbar.png" alt=""&gt;
                &lt;/div&gt;
                &lt;p class="mx-grid__label"&gt;Grid&lt;/p&gt;
            &lt;/a&gt;
            &lt;a href="javascript:;" class="mx-grid"&gt;
                &lt;div class="mx-grid__icon"&gt;
                    &lt;img src="./images/icon_tabbar.png" alt=""&gt;
                &lt;/div&gt;
                &lt;p class="mx-grid__label"&gt;Grid&lt;/p&gt;
            &lt;/a&gt;
            &lt;a href="javascript:;" class="mx-grid"&gt;
                &lt;div class="mx-grid__icon"&gt;
                    &lt;img src="./images/icon_tabbar.png" alt=""&gt;
                &lt;/div&gt;
                &lt;p class="mx-grid__label"&gt;Grid&lt;/p&gt;
            &lt;/a&gt;
            &lt;a href="javascript:;" class="mx-grid"&gt;
                &lt;div class="mx-grid__icon"&gt;
                    &lt;img src="./images/icon_tabbar.png" alt=""&gt;
                &lt;/div&gt;
                &lt;p class="mx-grid__label"&gt;Grid&lt;/p&gt;
            &lt;/a&gt;
            &lt;a href="javascript:;" class="mx-grid"&gt;
                &lt;div class="mx-grid__icon"&gt;
                    &lt;img src="./images/icon_tabbar.png" alt=""&gt;
                &lt;/div&gt;
                &lt;p class="mx-grid__label"&gt;Grid&lt;/p&gt;
            &lt;/a&gt;
            &lt;a href="javascript:;" class="mx-grid"&gt;
                &lt;div class="mx-grid__icon"&gt;
                    &lt;img src="./images/icon_tabbar.png" alt=""&gt;
                &lt;/div&gt;
                &lt;p class="mx-grid__label"&gt;Grid&lt;/p&gt;
            &lt;/a&gt;
            &lt;a href="javascript:;" class="mx-grid"&gt;
                &lt;div class="mx-grid__icon"&gt;
                    &lt;img src="./images/icon_tabbar.png" alt=""&gt;
                &lt;/div&gt;
                &lt;p class="mx-grid__label"&gt;Grid&lt;/p&gt;
            &lt;/a&gt;
        &lt;/div&gt;
    </pre>
</div>