<header data-am-widget="header" class="am-header am-header-default">
    <div class="am-header-left am-header-nav">
        <a href="#left-link" class="am-btn">
          <i class="am-header-icon am-icon-bars"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        header
    </h1>
    <div class="am-header-right am-header-nav">
        <a href="#user-link" class="">
          <i class="am-icon-search"></i>
        </a>
        <a href="#cart-link" class="am-btn">
          <i class="am-icon-close"></i>
        </a>
    </div>
</header>