<link rel="stylesheet" href="styles/view/hotviewranking.css" />
<div class="container">
  <header class="head">
    <img class="head-img" src="images/logo.png" height="150" width="160">
  </header>
  <!--没有数据显示暂无排名-->
  <section class="wrapper">
    <div class="emptyImg" style="display:none">当前暂无排名</div>
    <ol>
      <li>
        <div class="rank">
          <img src="images/oa.png" alt="头像">
          <span title="oa"></span>
        </div>
        <a href="#">这是oa演示数据1</a>
      </li>
      <li>
        <div class="rank">
          <img src="images/oa.png" alt="头像">
          <span title="oa"></span>
        </div>
        <a href="#">这是oa演示数据2</a>
      </li>
      <li>
        <div class="rank">
          <img src="images/oa.png" alt="头像">
          <span title="oa"></span>
        </div>
        <a href="#">这是oa演示数据3</a>
      </li>
      <li>
        <div class="rank">
          <img src="images/oa.png" alt="头像">
          <span title="oa"></span>
        </div>
        <a href="#">这是oa演示数据4</a>
      </li>
      <li>
        <div class="rank">
          <img src="images/oa.png" alt="头像">
          <span title="oa"></span>
        </div>
        <a href="#">这是oa演示数据5</a>
      </li>
      <li>
        <div class="rank">
          <img src="images/oa.png" alt="头像">
          <span title="oa"></span>
        </div>
        <a href="#">这是oa演示数据6</a>
      </li>
      <li>
        <div class="rank">
          <img src="images/oa.png" alt="头像">
          <span title="oa"></span>
        </div>
        <a href="#">这是oa演示数据7</a>
      </li>
      <li>
        <div class="rank">
          <img src="images/oa.png" alt="头像">
          <span title="oa"></span>
        </div>
        <a href="#">这是oa演示数据8</a>
      </li>
      <li>
        <div class="rank">
          <img src="images/oa.png" alt="头像">
          <span title="oa"></span>
        </div>
        <a href="#">这是oa演示数据9</a>
      </li>
      <li>
        <div class="rank">
          <img src="images/oa.png" alt="头像">
          <span title="oa"></span>
        </div>
        <a href="#">这是oa演示数据10</a>
      </li>
    </ol>
  </section>
</div>