<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Icons</h1>
        <p class="page__desc">图标</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="icon-box">
            <i class="mx-icon-success mx-icon_msg"></i>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">成功</h3>
                <p class="icon-box__desc">用于表示操作顺利达成</p>
            </div>
        </div>
        <div class="mx-parent">
                <button class="mx-copy mx-copy-t">copy</button>
        </div>
        <pre class="pre">
            &lt;div class="icon-box"&gt;
                &lt;i class="mx-icon-success mx-icon_msg"&gt;&lt;/i&gt;
                &lt;div class="icon-box__ctn"&gt;
                    &lt;h3 class="icon-box__title"&gt;成功&lt;/h3&gt;
                    &lt;p class="icon-box__desc"&gt;用于表示操作顺利达成&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        </pre>
        <div class="icon-box">
            <i class="mx-icon-info mx-icon_msg"></i>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">提示</h3>
                <p class="icon-box__desc">用于表示信息提示；也常用于缺乏条件的操作拦截，提示用户所需信息</p>
            </div>
        </div>
        <div class="mx-parent">
                <button class="mx-copy mx-copy-t">copy</button>
        </div>
        <pre class="pre">
            &lt;div class="icon-box"&gt;
                &lt;i class="mx-icon-info mx-icon_msg"&gt;&lt;/i&gt;
                &lt;div class="icon-box__ctn"&gt;
                    &lt;h3 class="icon-box__title"&gt;提示&lt;/h3&gt;
                    &lt;p class="icon-box__desc"&gt;用于表示信息提示；也常用于缺乏条件的操作拦截，提示用户所需信息&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        </pre>
        <div class="icon-box">
            <i class="mx-icon-warn mx-icon_msg-primary"></i>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">普通警告</h3>
                <p class="icon-box__desc">用于表示操作后将引起一定后果的情况</p>
            </div>
        </div>
        <div class="mx-parent">
                <button class="mx-copy mx-copy-t">copy</button>
        </div>
        <pre class="pre">
            &lt;div class="icon-box"&gt;
                &lt;i class="mx-icon-warn mx-icon_msg-primary"&gt;&lt;/i&gt;
                &lt;div class="icon-box__ctn"&gt;
                    &lt;h3 class="icon-box__title"&gt;普通警告&lt;/h3&gt;
                    &lt;p class="icon-box__desc"&gt;用于表示操作后将引起一定后果的情况&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        </pre>
        <div class="icon-box">
            <i class="mx-icon-warn mx-icon_msg"></i>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">强烈警告</h3>
                <p class="icon-box__desc">用于表示操作后将引起严重的不可挽回的后果的情况</p>
            </div>
        </div>
        <div class="mx-parent">
                <button class="mx-copy mx-copy-t">copy</button>
        </div>
        <pre class="pre">
            &lt;div class="icon-box"&gt;
                &lt;i class="mx-icon-warn mx-icon_msg"&gt;&lt;/i&gt;
                &lt;div class="icon-box__ctn"&gt;
                    &lt;h3 class="icon-box__title"&gt;强烈警告&lt;/h3&gt;
                    &lt;p class="icon-box__desc"&gt;用于表示操作后将引起严重的不可挽回的后果的情况&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        </pre>
        <div class="icon-box">
            <i class="mx-icon-waiting mx-icon_msg"></i>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">等待</h3>
                <p class="icon-box__desc">用于表示等待</p>
            </div>
        </div>
        <div class="mx-parent">
                <button class="mx-copy mx-copy-t">copy</button>
        </div>
        <pre class="pre">
            &lt;div class="icon-box"&gt;
                &lt;i class="mx-icon-waiting mx-icon_msg"&gt;&lt;/i&gt;
                &lt;div class="icon-box__ctn"&gt;
                    &lt;h3 class="icon-box__title"&gt;等待&lt;/h3&gt;
                    &lt;p class="icon-box__desc"&gt;用于表示等待&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        </pre>
        <div class="icon_sp_area">
            <i class="mx-icon-success"></i>
            <div class="mx-parent">
                <button class="mx-copy">copy</button>
            </div>
            <pre>            &lt;i class="mx-icon-success"&gt;&lt;/i&gt;</pre>
            <i class="mx-icon-success-no-circle"></i>
            <div class="mx-parent">
                <button class="mx-copy">copy</button>
            </div>
            <pre>            &lt;i class="mx-icon-success-no-circle"&gt;&lt;/i&gt;</pre>
            <i class="mx-icon-circle"></i>
            <div class="mx-parent">
                <button class="mx-copy">copy</button>
            </div>
            <pre>            &lt;i class="mx-icon-circle"&gt;&lt;/i&gt;</pre>
            <i class="mx-icon-warn"></i>
            <div class="mx-parent">
                <button class="mx-copy">copy</button>
            </div>
            <pre>            &lt;i class="mx-icon-warn"&gt;&lt;/i&gt;</pre>
            <i class="mx-icon-download"></i>
            <div class="mx-parent">
                <button class="mx-copy">copy</button>
            </div>
            <pre>            &lt;i class="mx-icon-download"&gt;&lt;/i&gt;</pre>
            <i class="mx-icon-info-circle"></i>
            <div class="mx-parent">
                <button class="mx-copy">copy</button>
            </div>
            <pre>            &lt;i class="mx-icon-info-circle"&gt;&lt;/i&gt;</pre>
            <i class="mx-icon-cancel"></i>
            <div class="mx-parent">
                <button class="mx-copy">copy</button>
            </div>
            <pre>            &lt;i class="mx-icon-cancel"&gt;&lt;/i&gt;</pre>
            <i class="mx-icon-search"></i>
            <div class="mx-parent">
                <button class="mx-copy">copy</button>
            </div>
            <pre>            &lt;i class="mx-icon-search"&gt;&lt;/i&gt;</pre>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>