<link rel="stylesheet" href="styles/view/layout.css" />

<div class="am-list-news-bd doc-content widget-list list">
  <ul class="am-list m-widget-list">
    <li class="am-g am-list-item-desce">
        <a href="##" class="am-list-item-hd p_1_rem"> 
          <i class="am-icon-building"></i>
          短信平台开发总结报告
          <div class="am-list-item-text p_1_rem">
          <ul>
            <li>发件人：李刚11</li>
            <li>当前环节：主办部门内部审核</li>
            <li>来文日期：09-12 15:46</li>
          </ul>
          </div>
          <i class="am-icon-chevron-right nav_list_check"></i>
        </a>
    </li>
    <li class="am-g am-list-item-desce">
        <a href="##" class="am-list-item-hd p_1_rem"> 
          <i class="am-icon-building"></i>
          短信平台开发总结报告
          <div class="am-list-item-text p_1_rem">
          <ul>
            <li>发件人：李刚11</li>
            <li>当前环节：主办部门内部审核</li>
            <li>来文日期：09-12 15:46</li>
          </ul>
          </div>
          <i class="am-icon-chevron-right nav_list_check"></i>
        </a>
    </li>
    <li class="am-g am-list-item-desce">
        <a href="##" class="am-list-item-hd p_1_rem"> 
          <i class="am-icon-building"></i>
          短信平台开发总结报告
          <div class="am-list-item-text p_1_rem">
          <ul>
            <li>发件人：李刚11</li>
            <li>当前环节：主办部门内部审核</li>
            <li>来文日期：09-12 15:46</li>
          </ul>
          </div>
          <i class="am-icon-chevron-right nav_list_check"></i>
        </a>
    </li>
  </ul>
</div>