<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Loadmore</h1>
        <p class="page__desc">加载更多</p>
    </div>
    <div class="page__bd">
        <div class="mx-loadmore">
            <i class="mx-loading"></i>
            <span class="mx-loadmore__tips">正在加载</span>
        </div>
        <div class="mx-loadmore mx-loadmore_line">
            <span class="mx-loadmore__tips">暂无数据</span>
        </div>
        <div class="mx-loadmore mx-loadmore_line mx-loadmore_dot">
            <span class="mx-loadmore__tips"></span>
        </div>
    </div>
     <div class="mx-parent">
            <button class="mx-copy mx-copy-t">copy</button>
        </div>
    <pre class="pre">
        &lt;div class="page__bd"&gt;
            &lt;div class="mx-loadmore"&gt;
                &lt;i class="mx-loading"&gt;&lt;/i&gt;
                &lt;span class="mx-loadmore__tips"&gt;正在加载&lt;/span&gt;
            &lt;/div&gt;
            &lt;div class="mx-loadmore mx-loadmore_line"&gt;
                &lt;span class="mx-loadmore__tips"&gt;暂无数据&lt;/span&gt;
            &lt;/div&gt;
            &lt;div class="mx-loadmore mx-loadmore_line mx-loadmore_dot"&gt;
                &lt;span class="mx-loadmore__tips"&gt;&lt;/span&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    </pre>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>