<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Msg</h1>
        <p class="page__desc">提示页</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <a href="#msg_success" class="mx-btn mx-btn_default">成功提示页</a>
         <div class="mx-parent">
            <button class="mx-copy">copy</button>
        </div>
        <pre>       &lt;a href="#msg_success" class="mx-btn mx-btn_default"&gt;成功提示页&lt;/a&gt;</pre>
        <a href="#msg_warn" class="mx-btn mx-btn_default">失败提示页</a>
         <div class="mx-parent">
            <button class="mx-copy">copy</button>
        </div>
        <pre>       &lt;a href="#msg_warn" class="mx-btn mx-btn_default"&gt;失败提示页&lt;/a&gt;</pre>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>