<div class="page">
    <div class="mx-msg">
        <div class="mx-msg__icon-area"><i class="mx-icon-success mx-icon_msg"></i></div>
        <div class="mx-msg__text-area">
            <h2 class="mx-msg__title">操作成功</h2>
            <p class="mx-msg__desc">内容详情，可根据实际需要安排，如果换行则不超过规定长度，居中展现<a href="javascript:void(0);">文字链接</a></p>
        </div>
        <div class="mx-msg__opr-area">
            <p class="mx-btn-area">
                <a href="javascript:history.back();" class="mx-btn mx-btn_primary">推荐操作</a>
                <a href="javascript:history.back();" class="mx-btn mx-btn_default">辅助操作</a>
            </p>
        </div>
         <div class="mx-parent">
            <button class="mx-copy">copy</button>
        </div>
        <pre class="pre">
            &lt;div class="mx-msg__icon-area"&gt;&lt;i class="mx-icon-success mx-icon_msg"&gt;&lt;/i&gt;&lt;/div&gt;
            &lt;div class="mx-msg__text-area"&gt;
                &lt;h2 class="mx-msg__title"&gt;操作成功&lt;/h2&gt;
                &lt;p class="mx-msg__desc"&gt;内容详情，可根据实际需要安排，如果换行则不超过规定长度，居中展现&lt;a href="javascript:void(0);"&gt;文字链接&lt;/a&gt;&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="mx-msg__opr-area"&gt;
                &lt;p class="mx-btn-area"&gt;
                    &lt;a href="javascript:history.back();" class="mx-btn mx-btn_primary"&gt;推荐操作&lt;/a&gt;
                    &lt;a href="javascript:history.back();" class="mx-btn mx-btn_default"&gt;辅助操作&lt;/a&gt;
                &lt;/p&gt;
            &lt;/div&gt;
        </pre>
        <div class="mx-msg__extra-area">
            <div class="mx-footer">
                <p class="mx-footer__links">
                    <a href="javascript:void(0);" class="mx-footer__link">底部链接文本</a>
                </p>
                <p class="mx-footer__text">Copyright &copy; 2008-2016 mx.io</p>
            </div>
        </div>
    </div>
</div>