<link rel="stylesheet" href="styles/view/file.css" />
<div class="file">
  <ul>
    <li>
      <img src="images/doc.png">
      <span>
        <i>名称：关于二代支付系统网络延时环境优化调整</i>
        <i>上传人：于敏</i>
        <time>时间：12-09 12:05</time>
      </span>
      <a href="#">下载</a>
    </li>
    <li>
      <img src="images/pdf.png">
      <span>
        <i>名称：关于召开2015年宣传思想专业会议的通知</i>
        <i>上传人：许文</i>
        <time>时间：09-13 08:52</time>
      </span>
      <a href="#">下载</a>
    </li>
    <li>
      <img src="images/text.png">
      <span>
        <i>名称：关于内部整体问题</i>
        <i>上传人：李楠</i>
        <time>时间：08-04 13:14</time>
      </span>
      <a href="#">下载</a>
    </li>
    <li>
      <img src="images/text.png">
      <span>
        <i>名称：综合办公平台推广应用工作信息副刊信息</i>
        <i>上传人：焦俊</i>
        <time>时间：01-23 16:30</time>
      </span>
      <a href="#">下载</a>
    </li>
    <li>
      <img src="images/file.png">
      <span>
        <i>名称：关于为软件维护公司方人员配置更衣柜的函</i>
        <i>上传人：赵瑾</i>
        <time>时间：01-27 18：30</time>
      </span>
      <a href="#">下载</a>
    </li>
  </ul>
</div>