<link rel="stylesheet" href="styles/view/layout.css" />
<div class="nav_list_top">
    <span class="am-list-news-bd doc-content">
        <img src="../../images/oa.png" height="52" width="52">
    </span>
    <a href="##" class="am-list-item-hd p_1_rem current"> OA综合系统
          </a>
</div>
<div class="am-list-news-bd doc-content widget-list left_nav">
    <ul class="am-list m-widget-list">
      <li class="am-g am-list-item-desce current">
          <a href="##" class="am-list-item-hd am-icon-building p_1_rem"> 我的工作 <i class="am-icon-circle font_12rem"></i>
          </a>
          <i class="am-icon-check nav_list_check"></i>
      </li>
      <li class="am-g am-list-item-desce">
          <a href="##" class="am-list-item-hd am-icon-building p_1_rem"> 待办事宜 <i class="am-icon-circle font_12rem hide"></i>
          </a>
          <i class="am-icon-check nav_list_check"></i>
      </li>
      <li class="am-g am-list-item-desce">
          <a href="##" class="am-list-item-hd am-icon-building p_1_rem"> 发文管理 <i class="am-icon-circle font_12rem"></i>
          </a>
          <i class="am-icon-check nav_list_check"></i>
      </li>
    </ul>
</div>
<script>
$(".left_nav li").click(function(){
    $(".left_nav li").removeClass('current');
    $(this).addClass('current')
});
</script>