form ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
form h3{
  font-style: bold;
  margin: 0 auto;
  font-size: 17px;
  width: 100%;
  text-align: center;
}
.index{
  position: relative;
  font-size: 1.5rem;
}
.index form{
  border: 1px solid #dbdbdb;
  margin: 1rem;
}
.index li{
  border-bottom:1px solid #dbdbdb; 
  padding: 0.5rem;
}
.index li.singular{
  background: #fafafa;
}
.index label{
  display: block;
  float: left;
  width: 34%;
  padding-top: 0.3rem;
  font-size: 1.5rem;
  font-weight: normal;
}
form select{
  width: 30%;
  margin-left: 4px;
  border: 1px solid #d8d8d8;
  font-size: 1.5rem;
}
form i{
  font-style: normal;
  font-weight: bold;
  padding: 0.3rem 0 0 .1rem;
  font-size: 1.4rem;
}
.subtext{
  width: 50%;
  border: 1px solid #d8d8d8;
}
form input{
  width: 62%;
  border: 1px solid #d8d8d8;
  margin-left: 4px;
  font-size: 1.5rem;
}
.wrap{
  position: relative;
  margin-left: 4px;
  width: 63%;
  display: inline-block;
  border: 1px solid #d8d8d8;
  background: #fff;
}
.wrap textarea{
  width: 90%;
  border: 0;
  resize:none;
}
.wrap a{
  position: absolute;
  right: 0;
  bottom: 19px;
  padding: 0 5px 5px 18px;
  color: #1a85fe;
}
.wrap i{
  position: absolute;
  right: 0;
  bottom: 19px;
  padding: 0 5px 5px 18px;
  font-style: normal;
}
.wrap time{
  position: absolute;
  width: 85px;
  right: 0;
  bottom: 0;
}
footer{
  position: absolute;
  width: 100%;
  padding: 1em 0;
  margin-top: 6px;
  margin-left: -1em;
  background: #fff;
  border-top: 1px solid #e0e0e0; 
}
.foot{
  width: 80%;
  margin: 0 auto;
}
/*footer a{
  border: 1px solid #e0e0e0; 
  border-radius: 5px;
  color: #1a85fe;
  width: 20%;
  height: 35px;
  display: block;
  float: left;
  text-align: center;
  margin-right: 4%;
  line-height: 35px;
  font-size: 1.4rem;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}*/
footer a.btn-popup{
  margin-left:4%; 
} 
footer input[type="submit"]{
  border: 1px solid #e0e0e0; 
  border-radius: 5px;
  width: 44px;
  height: 30px;
  color: #1a85fe;
  background: #fff;
  float: left;
  margin-left:7px; 
  cursor: pointer;
}
.popup{
  display: block;
  width: 75%;
  height: 30%;
  margin: 0 auto;
  border-radius: 5px;
  background: #fff;
  padding: 1rem 0.5rem 3rem;
}
.popup form{
  border: 0;
}
.popup label{
  width: 100%;
  padding-bottom: 1rem; 
}
.popup textarea{
  width: 99%;
  height: 50%;
  border: 1px solid #dbdbdb;
  margin-bottom: 1rem;
}
.popup a{
  float: right;
  width: auto;
  background: #fff;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  color: #1a85fe;
  border: 1px solid #dbdbdb;
  margin-left: 0.5rem; 
  opacity: 1;
}