<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>OA</title>
        <link rel="stylesheet" href="styles/reset.css"/>
        <link rel="stylesheet" href="styles/main.css"/>
        <link rel="stylesheet" href="styles/amazeui.css" />
        <link rel="stylesheet" href="styles/view/layout.css" />
        <link rel="stylesheet" href="styles/view/search.css" />
        <link rel="stylesheet" href="styles/view/common.css" />
        <link rel="stylesheet" href="styles/mx.min.css" />
        <style>
          .mx-cells:before{
              border-top: none;
          }
          .mx-cells_form:before{
              border: 1px solid #d9d9d9;
          }
          
          .slider-container_box{
              margin-top: 70px;
              width: 100%;
          }
          .mx-media-box__hd img{
              width: 100%;
              height: 100%;
          }
          .mx-panel__bd{;
            border-bottom: 1px solid #d9d9d9;
          }
          .mx-container{
              width: 100%;
              height: auto;
              margin: 0 auto;
              background: #d9d9d9;
          }
          .mx-container .mx-cells{
              margin-top: 0;
          }
          .mx-bg-no{
              background: none;
          }
          .mx-text_lf{
              text-align: left;
          }
          .mx-cells_checkbox label{
              font-weight: normal;
              margin-bottom: 0;
          }
          .mx-btn_mini{
              margin-top: 10px;
          }
          .mx-check__label:before{
              height: 2px;
          }
          .warp{
            background-color: #d9d9d9;
          }
          .mx-mg-t{
              margin-top: 5px;
          }
          .mx-mg-t60{
              margin-top: 52px;
          }
        </style>
    </head>
    <body>
    <div class="warp">
        <!-- 页面内容 -->
        <div class="MX-pages">
          <div class="load-page mx_page">
            <header data-am-widget="header" class="am-header am-header-default">
              <div class="am-header-left am-header-nav">
                  <a class="am-btn am-btn-primary doc-oc-js" data-rel="open">
                    <i class="am-header-icon am-icon-bars"></i>
                  </a>
              </div>
              <h1 class="am-header-title">
                  审批
              </h1>
              <div class="am-header-right am-header-nav">
                  <a class="am-btn search-btn am-btn-primary js-modal-open">
                    <i class="am-icon-search"></i>
                  </a>
                  <a href="#" class="am-btn">
                    <i class="am-icon-close" onclick="MXWebui.closeWindow();"></i>
                  </a>
              </div>
            </header>
              <a href="#test" >
                <div class="mx-media-box mx-media-box_appmsg mx-mg-t60">
                    <div class="mx-media-box__hd" >
                        <img src="images/doc.png">
                    </div>
                    <div class="mx-media-box__bd">
                        <h4 class="mx-media-box__title">名称：关于二代支付系统网络延时环境优化调整</h4>
                        <p class="mx-media-box__desc mx-mg-t">上传人：于敏</p>
                         <!-- <time class="mx-media-box__desc">时间：12-09 12:05</time> -->
                    </div>
                    <!-- <a href="#" class="mx-btn mx-btn_mini mx-btn_primary">下载</a> -->
                    <span>9-30</span>
                </div>
               </a>
               <div class="mx-media-box mx-media-box_appmsg">
                    <div class="mx-media-box__hd" >
                        <img src="images/doc.png">
                    </div>
                    <div class="mx-media-box__bd">
                        <h4 class="mx-media-box__title">名称：关于召开2015年宣传思想专业会议的通知</h4>
                        <p class="mx-media-box__desc mx-mg-t">上传人：许文</p>
                         <!-- <time class="mx-media-box__desc">时间：09-13 08:52</time> -->
                    </div>
                    <!-- <a href="#" class="mx-btn mx-btn_mini mx-btn_primary">下载</a> -->
                    <span>9-30</span>
                </div>
                <div class="mx-media-box mx-media-box_appmsg">
                    <div class="mx-media-box__hd" >
                        <img src="images/doc.png">
                    </div>
                    <div class="mx-media-box__bd">
                        <h4 class="mx-media-box__title">名称：关于召开2015年宣传思想专业会议的通知</h4>
                        <p class="mx-media-box__desc mx-mg-t">上传人：许文</p>
                         <!-- <time class="mx-media-box__desc">时间：09-13 08:52</time> -->
                    </div>
                    <!-- <a href="#" class="mx-btn mx-btn_mini mx-btn_primary">下载</a> -->
                    <span>9-30</span>
                </div>
                <div class="mx-media-box mx-media-box_appmsg">
                      <div class="mx-media-box__hd" >
                          <img src="images/doc.png">
                      </div>
                      <div class="mx-media-box__bd">
                          <h4 class="mx-media-box__title">名称：关于召</h4>
                          <p class="mx-media-box__desc mx-mg-t">上传人：许文</p>
                           <!-- <time class="mx-media-box__desc">时间：09-13 08:52</time> -->
                      </div>
                      <!-- <a href="#" class="mx-btn mx-btn_mini mx-btn_primary">下载</a> -->
                      <span>9-30</span>
                  </div>
                  <div class="mx-media-box mx-media-box_appmsg">
                      <div class="mx-media-box__hd" >
                          <img src="images/doc.png">
                      </div>
                      <div class="mx-media-box__bd">
                          <h4 class="mx-media-box__title">名称：关于召开2015年宣传思想专业会议的通知</h4>
                          <p class="mx-media-box__desc mx-mg-t">上传人：许文</p>
                           <!-- <time class="mx-media-box__desc">时间：09-13 08:52</time> -->
                      </div>
                      <!-- <a href="#" class="mx-btn mx-btn_mini mx-btn_primary">下载</a> -->
                      <span>9-30</span>
                  </div>
          </div>
        </div>

        <!-- 侧边栏内容 -->
        <div id="my-offcanvas" class="am-offcanvas">
          <div class="am-offcanvas-bar">
        
          <div class="slider-container_box">
                <div class="mx-panel__bd">
                    <a href="javascript:;" class="mx-media-box mx-media-box_appmsg">
                        <div class="mx-media-box__hd">
                            <img class="mx-media-box__thumb" src="http://pic.58pic.com/58pic/13/15/14/34E58PICuHd_1024.jpg" alt="">
                        </div>
                        <div class="mx-media-box__bd">
                            <h4 class="mx-media-box__title">OA综合系统</h4>
                        </div>
                    </a>
                </div>
                <!-- 单选 -->
                <div class="mx-cells mx-cells_radio"> 
                  <label class="mx-cell mx-check__label" data-rel="close"for="x11">
                      <div class="mx-cell__bd">
                          <p>我的工作ddd</p>
                      </div>
                      <div class="mx-cell__ft">
                          <input type="radio" class="mx-check" name="radio1" id="x11">
                          <span class="mx-icon-checked"></span>
                      </div>
                  </label>
                  <label class="mx-cell mx-check__label" data-rel="close" for="x12">

                      <div class="mx-cell__bd">
                          <p>我的工作d</p>
                      </div>
                      <div class="mx-cell__ft">
                          <input type="radio" name="radio1" class="mx-check" id="x12" checked="checked">
                          <span class="mx-icon-checked"></span>
                      </div>
                  </label>
                  <label class="mx-cell mx-check__label" data-rel="close" for="x13">

                      <div class="mx-cell__bd">
                          <p>我的工作</p>
                      </div>
                      <div class="mx-cell__ft">
                          <input type="radio" name="radio1" class="mx-check" id="x13" checked="checked">
                          <span class="mx-icon-checked"></span>
                      </div>
                  </label>
              </div>
          </div>
        </div>
        
        </div>
        <!-- 搜索 dialog -->
        <div class="am-modal search-dialog am-modal-no-btn" tabindex="-1" id="your-modal">
          
              <div class="mx-container">
                  <div class="mx-cells mx-bg-no">
                      <div class="mx-cell">
                          <div class="mx-cell__bd">
                              <p class="mx-text_lf">文件标题</p>
                          </div>
                      </div>
                  </div>
                  <div class="mx-cells">
                      <div class="mx-cell">
                          <div class="mx-cell__bd">
                              <input type="text" class="mx-input" placeholder="请输入文本">
                          </div>
                      </div>
                  </div>
                  <div class="mx-cells mx-bg-no">
                      <div class="mx-cell">
                          <div class="mx-cell__bd">
                              <p class="mx-text_lf">文件时间</p>
                          </div>
                      </div>
                  </div>
                   <div class="mx-cells">
                        <span class="mx-cell mx-cell_access" href="javascript:;">
                            <div class="mx-cell__bd">
                                <p class="mx-text_lf" id="showDatePicker">文件开始时间</p>
                            </div>
                            <div class="mx-cell__ft">
                            </div>
                        </span>
                        <span class="mx-cell mx-cell_access" href="javascript:;">
                            <div class="mx-cell__bd">
                                <p class="mx-text_lf" id="endDatePicker">文件结束时间</p>
                            </div>
                            <div class="mx-cell__ft">
                            </div>
                        </span>

                    </div>
                    <div id="datePlugin"></div>
                    <div class="mx-cells mx-bg-no">
                        <div class="mx-cell">
                            <div class="mx-cell__bd">
                                <p class="mx-text_lf">文件类型</p>
                            </div>
                        </div>
                    </div>
                    <div class="mx-cells mx-cells_checkbox">
                        <label class="mx-cell mx-check__label" for="s11">
                            <div class="mx-cell__bd">
                                <p class="mx-text_lf">发文</p>
                            </div>
                            <div class="mx-cell__hd">
                                <input type="checkbox" class="mx-check" name="checkbox1" id="s11" checked="checked">
                                <i class="mx-icon-checked"></i>
                            </div>
                        </label>
                        <label class="mx-cell mx-check__label" for="s12">
                            <div class="mx-cell__bd">
                                <p class="mx-text_lf">收文</p>
                            </div>
                             <div class="mx-cell__hd">
                                <input type="checkbox" name="checkbox1" class="mx-check" id="s12">
                                <i class="mx-icon-checked"></i>
                            </div>
                        </label>
                         <label class="mx-cell mx-check__label" for="s13">
                            <div class="mx-cell__bd">
                                <p class="mx-text_lf">收文</p>
                            </div>
                             <div class="mx-cell__hd">
                                <input type="checkbox" name="checkbox1" class="mx-check" id="s13">
                                <i class="mx-icon-checked"></i>
                            </div>
                        </label>
                    </div>
                    <div class="mx-btn mx-btn_mini mx-btn_primary"><i class="mx-icon-search"></i>  查询</div>
              </div>
        </div>   
    </div>


    <script src="../libs/jquery.min.js"></script>
    <script src="../libs/jquery.hashchange.js"></script>
    <script src="../libs/minxing.mock.data.js"></script>
    <script src="../libs/minxing.mock.lib.js"></script>
    <script src="../libs/amazeui.js"></script>
    <script src="../scripts/main.js"></script>
    <script src="scripts/view/date.js"></script>
    <script src="scripts/view/iscroll.js"></script>
    <script src="scripts/view/checkbox.js"></script>
    <script src="scripts/view/oa.js"></script>
    <script src="scripts/jump.js"></script>
    <script src="scripts/view/jquery.magnific-popup.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
	  <script>
        $('#showDatePicker').on('click', function () {
            weui.datePicker({
                start: 1990,
                end: new Date().getFullYear(),
                onChange: function (result) {
                    console.log(result);
                },
                onConfirm: function (result) {
                    console.log(result);
                }
            });
        }); 
         $('#endDatePicker').on('click', function () {
            weui.datePicker({
                start: 1990,
                end: new Date().getFullYear(),
                onChange: function (result) {
                    console.log(result);
                },
                onConfirm: function (result) {
                    console.log(result);
                }
            });
        }); 
    </script>
    <script>
        
        $(function() {
            var id = '#my-offcanvas';
            var $myOc = $(id);
            $(document).on('click','.doc-oc-js', function() {
              $myOc.offCanvas($(this).data('rel'));
            });

            $myOc.on('open.offcanvas.amui', function() {
              console.log(id + ' 打开了。');
            }).on('close.offcanvas.amui', function() {
              console.log(id + ' 关闭了。');
            });

            $(document).on('click','.mx-cells_radio label',function(){
                $(".mx-cells_radio label").removeClass('current');
                $(this).addClass('current');
                $myOc.offCanvas($(this).data('rel'));
            });

            var $modal = $('#your-modal');
            $(document).on('click','.search-btn' , function(e) {
              var $target = $(e.target);
              if (($target).hasClass('js-modal-open')) {
                $modal.modal();
              } else if (($target).hasClass('js-modal-close')) {
                $modal.modal('close');
              } else {
                $modal.modal('toggle');
              }
            });

            // $('#beginTime').date();
            // $('#endTime').date();

            $('.search ul li').click(function(e) {
                if (!$(this).find('i').hasClass('am-icon-check-circle')) {
                  $(this).find('i').removeClass('am-icon-check-circle-o');
                  $(this).find('i').addClass('am-icon-check-circle');
                } else {
                  $(this).find('i').removeClass('am-icon-check-circle');
                  $(this).find('i').addClass('am-icon-check-circle-o');
                }
            });
        });
    </script>
    <!--解决在ios header中显示bug，增加ios单独的样式-->
    <script type="text/javascript">
      (function() {
        var agent = navigator.userAgent;
        if (/iphone|ipad|ipod/i.test(agent)) {
            $('body').addClass('ios');
        }
      }());
    </script>
    </body>
</html>