.container{
  padding: 1em 1.5em ;
}
.container h4{
    font-size: 18px;
    width: 100%;
    text-align: center;
}
.container h5{
  font-size: .8em;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}
.container p{
  line-height: 1.5em;
  font-size: .8em;
}
h4{
  margin-top: 0px;
}