<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles/reset.css"/>
        <link rel="stylesheet" href="styles/main.css"/>
        <link rel="stylesheet" href="styles/amazeui.css" />
        <link rel="stylesheet" href="styles/prettify.min.css" />
    </head>
    <body>
    <div class="warp">
        <div class="mx_header">  <!-- header -->
            <header data-am-widget="header" class="am-header am-header-default">
                <h1 class="am-header-title">
                    H5 WEB APP 组件库
                </h1>
            </header>
        </div>

        <div class="mx_nav am-list-news-bd">   <!-- left nav -->
            <ul class="first_nav">
            </ul>
        </div>

        <div class="mx_code">   <!-- center code -->
        </div>
        <div class="mx_view">   <!-- right view -->
            <div class="iphone">
                <div class="main">

                </div>
            </div>
        </div>
    </div>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/handlebars.min.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/amazeui.js"></script>
    </body>
</html>